.about-me {
    padding: 6rem;
    background-image: linear-gradient(20deg, #9bc5c3  0%, #616161c3 100%);
}

.about-me .img-about-me {
    max-width: 30%;
    display: flex;
    align-items: center;
}

.img-about-me .img-box {
    border-radius: 50%;
}

.about-me .container {
    padding-bottom: 200px ;
}

.container .img-info {
    margin-top: 100px;
    justify-content: center;
}

.container .img-info div:nth-child(2) {
    transition: all 0.8s;
    transition-delay: 400ms;
}

.img-about-me .img-box img {
    width: 100%;
    border-radius: 50%;
    border: solid 10px transparent;
    filter: brightness(68%);
}

.about-me .info-about-me {
    max-width: 50%;
    padding: 0 25px;
    margin: auto 0 auto 60px;
    letter-spacing: 1px;
}

.about-me .info-about-me .botoes {
    margin-top: 60px;
}

.about-me .info-about-me p {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.about-me .botao {
    font-size: 2rem;
    padding: 10px 20px;
    transition: 0.3s ease;
    background-color: var(--cor-branca);
    color: var(--cor-preta);
    border-radius: 20px;
}

.about-me .botao:hover {
    background-color: var(--cor-azul);
    color: var(--cor-branca);
}

@media (max-width: 1060px) {
    .about-me .img-about-me {
        max-width: 60%;
        margin-bottom: 50px;
        padding: 0 40px;
    }

    .container .img-info {
        margin-top: 10px;
    }

    .about-me .info-about-me {
        text-align: center;
        margin: 0;
        padding: 0 30px;
        max-width: 100%;
    }

    .about-me .container {
        padding-bottom: 60px;
    }
}

@media (max-width: 628px) {
    .about-me .info-about-me {
        padding: 0;
    }

    .about-me {
        padding: 30px;
    }

    .about-me .img-about-me {
        max-width: 80%;
        padding: 0;
    }
}