.footer {
    padding: 6rem;
    text-align: center;
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%, rgba(0,0,0,0.4));
    filter: brightness(70%);
}   

.footer .redes-sociais a {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 2.1rem;
    text-align: center;
    margin: 0 8px;
    border-radius: 50%;
    transition: 0.3s ease;
    line-height: 50px;
}

.redes-sociais a:hover {
    color: var(--cor-azul);
}

.footer h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 5rem;
}

.footer .redes-sociais a:nth-child(2) {
    transition-delay: 400ms;
}

.footer .redes-sociais a:nth-child(3) {
    transition-delay: 600ms;
}

@media (max-width: 680px) {
    .footer {
        padding: 3rem;
    }

    .footer h3 {
        margin: 2rem;
    }
}