.footer {
    padding: 6rem;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4))
}   

.footer h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 5rem;
}

.footer .redes-sociais a:nth-child(2) {
    transition-delay: 400ms;
}

.footer .redes-sociais a:nth-child(3) {
    transition-delay: 600ms;
}

@media (max-width: 680px) {
    .footer {
        padding: 3rem;
    }

    .footer h3 {
        margin: 2rem;
    }
}