@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Raleway:wght@200;400;500;700&display=swap');

html {
    font-size: 62.5%;
    color: var(--cor-preta);
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-primaria);
    font-weight: 300;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: RGB(104, 109, 109);
    border-radius: 30px;
}

body::-webkit-scrollbar-track {
    background-color: RGB(122, 140, 139);
}

a {
    color: var(--cor-branca);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.outer-shadow {
    box-shadow: 3px 3px #222327, -3px -3px 3px #454545;
}

.section-default {
    border-top: 10px groove #000000;
}

.section-title {
    text-align: center;
    width: 100%;
    padding: 60px 0;
}

.section-title h2 {
    font-size: 4rem;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    text-transform: uppercase;
}

.hidden {
    transition: all 2s;
    opacity: 0;
    filter: blur(6px);
    transform: translateX(-50%);
}

.hidden-title {
    transition: all 1s;
    opacity: 0;
    filter: blur(6px);
    transform: translateY(80%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0, 0);
}

@media(max-width: 755px) {
    .section-title h2 {
        font-size: var(--fonte-extra-grande);
    }
}

@media (max-width: 350px) {
    .section-title h2 {
        font-size: 2.9rem;
    }
}