.header .container {
    font-size: var(--fonte-extra-grande);
    justify-content: space-between;
    align-items: center;
    padding: 40px 65px;
    background-color: var(--cor-preta);
}

.header .container h1 {
    font-size: var(--fonte-gigante);
    border: solid 2px var(--cor-branca);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 90px;
    text-decoration-line: underline;
}

.header .menu {
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 30px;
}

.header nav label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.header .hamburguer {
    background-color: var(--cor-branca);
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.header .hamburguer:before, 
.header .hamburguer:after {
    background-color: var(--cor-branca);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.2s ease-in-out;
}

.header .hamburguer:before {
    top: -11px;
}

.header .hamburguer:after {
    bottom: -10px;
}

.header input {
    display: none;
}

.header input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}

.header input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

.header input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

.container .navigation {
    align-items: center;
    gap: 4rem;
}

.item-page {
    padding: 10px;
    user-select: none;
}

.item-page:hover {
    border-bottom: solid 3px var(--cor-azul);
}

.pag-initial {
    min-height: 85vh;
    z-index: -1;
}

@media(max-width: 1160px) {
    .header .menu {
        display: block;
    }

    .header nav input:checked ~ ul {
        display: block;
    }

    .header nav {
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 1;
    }

    .header nav ul {
        display: none;
        padding: 20px;
        background-color: var(--cor-preta);
    }

    .header nav a li {
        text-align: center;
        padding: 20px;
        display: block;
    } 
}

@media (max-width: 680px) {
    .header .container {
        padding: 25px 35px;
    }

    .header .menu {
        margin-right: 0px;
        margin-top: 10px;
    }
}