.home {
    justify-content: center;
    text-align: center;
    min-height: 55vh;
    align-items: center;
    margin: 0 180px;
    position: relative;
    color: var(--cor-preta);
   
}

.home:after{
    content: url('../../assets/img/seta_branca.png');
    position: absolute;
    bottom: -50px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
    filter: invert(100%)
}

.home .text-home {
    letter-spacing: 1px;
    font-family: var(--fonte-secundaria);
    text-transform: uppercase;
    position: relative;
}

.home .text-home p {
    font-size: var(--fonte-normal);
    text-align: start;
    margin-bottom: -10px;
}

.home .text-home .redes-sociais {
    position: absolute;
    top: 45px;
    right: 0;
}

.home .text-home .redes-sociais a {
    display: inline-block;
    font-size: 25px;
    width: 50px;
    color:  var(--cor-azul);
    transition: .3s ease-in-out;
}

.home .text-home .redes-sociais a:hover {
    color: rgb(107 114 128);
}

.home .text-home h3 {
    font-size: 10rem;
    letter-spacing: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: start;
}

.home .text-home h2 {
    font-size: 8rem;
    letter-spacing: 1px;
    text-align: start;
    margin-bottom: -20px;
}

@keyframes downarrow {
    0% {-webkit-transform: translateY(0); opacity: 0.4 ;
    }
    
    100% {-webkit-transform: translateY(0.5rem); opacity: 0.9;
    }
}

@media (max-width: 1441px) {
    .home:after {
        bottom: -20px;
    }
}

@media (max-width: 750px) {
    .home:after {
        display: none;
    }
}

@media (max-width: 680px) {
    .home {
        margin: 0;
    }
}

@media (max-width: 370px) {
    .home .text-home p {
        font-size: var(--fonte-normal);
        margin-bottom: 10px;
    }
    
    .home .text-home h2 {
        margin-bottom: 20px;
        font-size: var(--fonte-extra-grande);
        font-weight: 700;
    }
    
    .home .text-home h3 {
        font-size: var(--fonte-normal);
        margin-bottom: 30px;
        font-weight: 400;
    }
}