.projects {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../imagens/escritorio-img.png');
    background-size: cover;
    font-size: 30px;
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.projects .project a img {
    border-radius: 13px;
}

.languages {
    margin-top: 30px;
}

.project img, .footer .social a, .footer .sections-footer li, 
.description-project{
    transition: 0.2s;
}

.description-project:hover, .footer .social a:hover, 
.footer .sections-footer li:hover  {
    color: var(--cor-vermelho-escuro);
}

.project img:hover{
    filter: brightness(50%);
}

.projects h2 {
    margin-bottom: 60px;
}

.project a {
    display: flex;
    align-items: center;
    gap: 45px;
}

.icon-html {
    color: var(--icone-html);
}

.icon-css, .projects .repos-link a {
    color: var(--icone-css);
}

.icon-js {
    color: var(--icone-js);
}

.projects .repos-link {
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}