.projects {
    padding: 55px;
}

.projects .container-projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
    padding: 130px 0 170px 0;
} 

.projects .container-projetos .project {
    position: relative;
    transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    border-radius: 10px;
    border: solid 1px #ffffff;
}

.projects .container-projetos .project img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    
    width: 100%;
}

.projects .container-projetos .project a .size-img{
    max-width: 600px;
}

.projects .container-projetos .project .info-project {
    position: absolute;
    top: 0;
    background-color: var(--cor-preta);
    padding: 35px;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    opacity: 0;
    transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
}

.projects .container-projetos .project .info-project p:nth-child(2) {
    font-weight: 700;
    margin-top: 20px;
}

.projects .container-projetos .project h3 {
    position: absolute;
    bottom: 0;
    font-weight: 500;
    padding: 15px 0 15px 20px;
    background-color: var(--cor-preta);
    width: 100%;
    font-size: 2rem;
    opacity: 0.7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.projects .container-projetos .project:hover, 
.projects .container-projetos .project:hover .info-project {
    opacity: 0.9;
}

@media (max-width: 1280px) {
    .projects .container-projetos {
        padding: 60px 0 150px 0;
    }

}

@media (max-width: 680px) {
    .projects {
        padding: 30px;
    }

    .projects .container-projetos .project h3 {
        font-size: 1.6rem;
        padding: 10px 0 10px 15px;
    }

    .projects .container-projetos {
        gap: 50px;
        padding: 60px 0;
    }
}