.sobre-mim {
    padding: 6rem;
}

.sobre-mim .img-sobre-mim {
    max-width: 30%;
    display: flex;
    align-items: center;
}

.img-sobre-mim .img-box {
    border-radius: 50%;
}

.sobre-mim .container {
    padding-bottom: 200px ;
}

.container .img-info {
    margin-top: 100px;
    justify-content: center;
}

.img-sobre-mim .img-box img {
    width: 100%;
    border-radius: 50%;
    border: solid 10px transparent;
    filter: brightness(65%);
}

.sobre-mim .info-sobre-mim {
    max-width: 50%;
    padding: 0 25px;
    margin: auto 0 auto 60px;
}

.sobre-mim .info-sobre-mim .botoes {
    margin-top: 50px;
}

.sobre-mim .info-sobre-mim p {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.sobre-mim .info-sobre-mim span {
    text-decoration: underline;
    text-decoration-color: var(--cor-vermelho-escuro);
}

.sobre-mim .botao {
    font-size: 2rem;
    padding: 10px 20px;
    transition: 0.3s ease;
    background-color: var(--cor-branca);
    color: var(--cor-preta);
    border-radius: 20px;
}

.sobre-mim .botao:hover {
    background-color: var(--cor-vermelho-escuro);
    color: var(--cor-branca);
}

@media (max-width: 1060px) {
    .sobre-mim .img-sobre-mim {
        max-width: 60%;
        margin-bottom: 50px;
        padding: 0 40px;
    }

    .container .img-info {
        margin-top: 10px;
    }

    .sobre-mim .info-sobre-mim {
        text-align: center;
        margin: 0;
        padding: 0 30px;
        max-width: 100%;
    }

    .sobre-mim .container {
        padding-bottom: 60px;
    }
}

@media (max-width: 628px) {
    .sobre-mim .info-sobre-mim {
        padding: 0;
    }

    .sobre-mim {
        padding: 30px;
    }
}